.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: rgba(111, 66, 193, 0.6);
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: 0.5s;
}
  
.back-to-top:hover {
    opacity: 60%;
}
  
.hidden {
    opacity: 0%;
}
  
.back-to-top-icon {
    width: 1.5rem;
    height: 1.2rem;
    color: #7ac9f9;
}   