body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-decoration: none;
}

* {
    box-sizing: inherit;
}

header {
    position: fixed;
    display: flex;
    font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    width: 100%;
    height: 74px;
    font-weight: 400;
    color:black;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: black;
} 

li {
    list-style: none;
}

.logo-web{
    font-weight: 600;
    color: black;
    padding-left: 20%;
}

.main-menu {
    display: flex; 
    align-items: center;
    margin: 0;
    padding: 0;
    height: inherit;
    padding-right: 20%;
}

.main-menu_link{
    height: inherit;
    padding: 24px 20px;
}

.main-menu_link:hover {
    color: rgb(111, 66, 193);
}

.fa-circle-user {
    font-size: 30px;
    padding: 24px 20px;
    margin-right: 1em;
}

.login_icon:hover {
    color: rgb(111, 66, 193);
}