/* start: home intro */
#home_intro {
    display: flex;
    padding: 8rem 0 2rem 0;
    border-bottom-right-radius: 50%;
    background: rgba(111, 66, 193, 0.1);
    overflow: hidden;
}

.home_intro-content {
    text-align: left;
    padding-left: 9rem;
}

.home_intro-img img {
    max-width: 70%;
    height: auto;
    overflow: hidden;
}

.home_intro-content h2 {
    color: rgb(111, 66, 193);
    font-weight: 750;
}

.home_intro-content span {
    font-size: 14px;
    font-weight: 750;
    color: rgb(111, 66, 193);
    text-transform: uppercase;
    opacity: 0.5;
}

.home_intro-content p {
    opacity: 0.7;
}

.home_intro-content button {
    color: #fff;
    background-color: #6f42c1;
    border-radius: 30px;
    border: 1px solid white;
}

.home_intro-content button p {
    font-size: 15px;
    margin: 5px 20px;
}

/* End: home intro */
/* ------------------------------------- */
/* start: Covid statics */
#covid_statics {
    display: block;
    padding: 5rem 0 5rem 0;
    margin: 0 80px;

}

.covid_statics-heading {
    text-align: center;
    padding-bottom: 25px;
}

.covid_statics-heading h3 {
    color: #6f42c1;
    font-weight: 750;
}

.covid_statics-heading p {
    font-size: 20px;
}

.covid_statics-number {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 15px;
}

.covid_statics-data {
    display: flex;
    flex-direction: column;
    max-width: 33, 33%;
    min-width: 300px;
    padding: 10px 15px;
}

.covid_statics-data strong {
    font-size: 35px;
    padding-top: 20px;
}

.covid_statics-icon {
    font-size: 35px;
    color: #6f42c1;
}

.covid_statics-data span {
    font-size: 18px;
    opacity: 0.6;
}

/* End: covid statics */
/* ------------------------------------- */
/* Start:about corona part 1 */
#about-crn_1 {
    display: flex;
    justify-content: center;
    margin: 30px 90px 10px 90px;
    padding: 30px 0px 30px 0px;
}

.img-play-vid img {
    width: 540px;
    height: 360px;
}

.img-play-vid_btn {
    position: relative;
    background-color: rgb(111, 66, 193);
    bottom: 40px;
    left: 360px;
    max-width: 180px;
    font-size: 22px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}

.img-play-vid_btn a {
    color: #fff;
}

.img-play-vid_btn a:hover {
    opacity: 0.5;
    color: aqua;
}

.about-crn_content {
    text-align: left;
    max-width: 40%;
    padding-left: 4rem;
}

.about-crn_content h3 {
    color: #6f42c1;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-crn_content p {
    font-size: 19px;
    padding-bottom: 15px;
    opacity: 0.8;
}

.about-crn_content ul {
    padding-left: 0;
    padding-bottom: 20px;
}

.about-crn_content ul li {
    font-size: 19px;
    opacity: 0.8;
    margin: 5px 0;
}

.abt-crn_icon {
    margin-right: 10px;
    color: #6f42c1;
}

.about-crn_content button {
    width: 150px;
    color: #fff;
    background-color: #6f42c1;
    border-radius: 30px;
    border: 1px solid white;
}

.about-crn_content button p {
    font-size: 14px;
    padding: 0;
    opacity: 1;
    margin: 5px 2px;
    text-transform: uppercase;
}

/* End: about corona part 1*/
/* ------------------------------------- */
/* Start: about corona part 2 */
#about-crn_2 {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: 40px 80px 20px 80px;
}

.about-crn_2-col {
    display: flex;
    padding: 5px 60px;

}

.about-crn_2-logo-col {
    color: #6f42c1;
    margin-right: 20px;
    font-size: 40px;
}

.about-crn_2-content {
    min-width: 100px;
    max-width: 150px;
}

.about-crn_2-content label {
    font-size: 14px;
    font-weight: 700;
    color: rgb(111, 66, 193);
}

.about-crn_2-content p {
    opacity: 0.8;
}

/* End: about corona part 2 */
/* ------------------------------------- */
/* Start: how2 prevent */
#how2-prevent {
    display: flex;
    justify-content: center;
    background-color: rgba(111, 66, 193, 0.05);
    padding: 60px 90px;
}

.h2p_col-content {
    display: flex;
    margin-right: 20px;
    height: 640px;
}

.h2p_sub-col-content_1 {
    width: 235px;
    margin-right: 10px;
    max-height: 300px;
    padding-top: 50px;
}

.h2p_sub-col-content_2 {
    width: 235px;
    margin-left: 10px;
    max-height: 300px;
}

.mini-col_icon {
    display: flex;
    font-size: 40px;
    color: #6f42c1;
    background-color: rgba(111, 66, 193, 0.2);
    width: 235px;
    height: 100px;
    justify-content: center;
    align-items: center;

}

.h2p_mini-col_1 {
    border: 1px white solid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-bottom: 30px;
}


.mini-col_content_1 {
    background-color: #FFF;
    padding: 15px 20px;
}

.mini-col_content_1 label {
    font-size: 19px;
    font-weight: 500;
    color: #6f42c1;
}

.mini-col_content_1 p {
    font-size: 16px;
    opacity: 0.7;
}

.h2p_side-content {
    margin-left: 30px;
}

.h2p_side-content h3 {
    color: #6f42c1;
    font-weight: 700;
    padding: 25px 0;
}

.sml-than-label {
    width: 425px;
}

.h2p_side-content p {
    opacity: 0.7;
    font-size: 20px;
    margin-bottom: 25px;
}

.h2p_side-content ul {
    padding: 0;
}

.h2p-li_icon {
    color: #6f42c1;
    margin-right: 10px;
}

.h2p_btn {
    width: 250px;
    color: #fff;
    background-color: #6f42c1;
    border-radius: 30px;
    border: 1px solid white;
    margin-top: 30px;
}

.h2p_btn p {
    font-size: 12px;
    padding: 0;
    opacity: 1;
    margin: 7px 2px;
    text-transform: uppercase;
}

/* End: how2 prevent */
/* ------------------------------------- */
/* Start: symptoms */
#idx_symptoms {
    background-color: rgba(111, 66, 193, 0.05);
    height: auto;
}

.st_heading {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 90px;
    padding-top: 90px;
    margin-bottom: 90px;
}

.st_heading h3 {
    color: rgb(111, 66, 193);
    font-weight: 700;
    font-size: 30px;
}

.st_heading p {
    opacity: 0.7;
    font-size: 20px;
    text-align: center;
}

.st_detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 7rem;
    margin-bottom: 40px;
}

.st_detail-box {
    display: flex;
    margin: 10px 10px;
    padding: 30px;
    width: 522px;
    align-items: center;
    background-color: #fff;
    border: 1px solid white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px 10px;
    padding: 30px;
}

.st_img img {
    width: 80px;
    height: 102px;
}

.st_detail-box_content {
    padding: 10px 20px;
}

.st_detail-box_content label {
    color: #6f42c1;
    font-weight: 500;
    font-size: 18px;
}

.st_detail-box_content p {
    opacity: 0.7;
    font-size: 16px;
}

.st_dr-advice {
    display: flex;
    text-align: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 4rem;
}

.dr-advice_content {
    display: inline;
    width: 500px;
    font-size: 18px;
    text-align: left;
}

.dr-advice_content strong {
    color: #6f42c1;
    opacity: 1;
}

.st_dr-advice button {
    display: inline;
    width: 150px;
    border-radius: 30px;
    font-size: 14px;
    padding: 6px 0px;
    color: white;
    background-color: #6f42c1;
    text-transform: uppercase;
}

.dr-advice_icon {
    padding-right: 10px;
}

/* End: symptoms */
/* ------------------------------------- */
/* Start: News & Articles */
#news-articles {
    margin: 0px 250px 90px 250px;
}

.n-a_heading {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 90px;
    margin-bottom: 90px;
}

.n-a_heading h3 {
    color: rgb(111, 66, 193);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.n-a_heading p {
    opacity: 0.7;
    font-size: 19px;
    text-align: center;
}

.news-post_row {
    display: flex;
    justify-content: space-around;
}

.n-a_post-entry {
    position: relative;
    width: 33, 3%;
    margin: 0 15px;
}

.n-a-p_thumb img {
    display: flex;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

.idx_date-post {
    position: absolute;
    left: 78px;
    top: 180px;
    padding: 4px 14px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #6f42c1;
    color: #FFF;
    z-index: 2;
}

.post-reaction {
    display: flex;
    justify-content: space-around;
    margin: 25px 15px 18px 15px;
}

.post-reaction a {
    color: #AEAEAE;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.7;
    letter-spacing: 0.1rem;
}

.n-a-p_title h3 {
    color: #6f42c1;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
}

/* End: News & Articles */
/* ------------------------------------- */
/* ------------------------------------- */
/* Responsive: tablet */
@media screen and (max-width: 1023px) {
    #home_intro {
        padding-top: 7rem;
        display: block;
        border-bottom-right-radius: 50%;
        background: rgba(111, 66, 193, 0.1);
        height: 750px;
    }

    .home_intro-content {
        text-align: center;
        padding: 0 4rem;
    }

    .home_intro-img {
        display: flex;
        justify-content: center;
    }

    .home_intro-img img {
        overflow: hidden;
        max-width: 100%;
        border-style: none;
    }

    .home_intro-content h2 {
        color: rgb(111, 66, 193);
        font-weight: 750;
    }

    .home_intro-content span {
        font-size: 14px;
        font-weight: 750;
        color: #6f42c1;
        text-transform: uppercase;
        opacity: 0.5;
    }

    .home_intro-content p {
        opacity: 1;
        color: rgb(47, 47, 47);
    }

    .home_intro-content button {
        opacity: 1;
        color: #fff;
        background-color: #6f42c1;
        border-radius: 30px;
        border: 1px solid white;
    }

    .home_intro-content button p {
        text-transform: uppercase;
        color: #fff;
        font-size: 15px;
        margin: 5px 20px;
    }
    
    #covid_statics {
        margin: 0;
    }

    .covid_statics-heading {
        padding-bottom: 0;
    }

    .covid_statics-number {
        display: block;
        text-align: center;
        margin-top: 15px;
    }

    .covid_statics-data {
        padding-top: 2rem;
    }

    #about-crn_1 {
        display: block;
        margin: 0;
    }

    .img-play-vid {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }

    .img-play-vid iframe {
        width: 660px;
        height: 360px;
    }

    .about-crn_content {
        max-width: 90%;
        padding: 0 2rem;
    }

    #about-crn_2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-crn_2-col {
        align-items: center;
        padding: 0;
        width: 300px;
    }

    #how2-prevent {
        padding: 3rem 0;
        flex-direction: column;
    }

    .h2p_col-content {
        justify-content: center;
        margin: 0;
        height: 550px;
    }

    .h2p_sub-col-content_1 {
        padding: 0;
        width: 350px;
        max-height: 300px;
    }

    .h2p_sub-col-content_2 {
        width: 350px;
        max-height: 300px;
    }

    .mini-col_icon {
        width: 350px;
    }

    .h2p_side-content {
        margin: 0 2rem;
    }

    .h2p_side-label {
        text-align: center;
    }

    .sml-than-label {
        width: auto;
    }

    .sml-than-labe ul {
        display: flex;
    }

    #idx_symptoms {
        height: auto;
    }

    .st_heading {
        padding-top: 4rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .st_detail {
        margin: 0 1rem;
    }

    .st_detail-box {
        width: auto;
        padding: 15px 30px;
    }

    .st_dr-advice {
        display: block;
        margin: 1rem;
        padding: 1rem 1rem 5rem 1rem;
        text-align: left;
    }

    .st_dr-advice button {
        margin-top: 1rem;
    }

    #news-articles {
        margin: 0;
    }

    .n-a_heading {
        margin-bottom: 1rem;
    }

    .news-post_row {
        flex-direction: column;
    }

    .n-a-p_thumb img {
        height: auto;
    }

    .idx_date-post {
        position: relative;
        top: 500px;
        left: 310px;
        padding: 9px 24px;
        font-size: 16px;
    }

    .post-reaction a{
        font-size: 22px;
    }

    .n-a_post-entry {
        margin-top: 2rem;
    }

    .n-a-p_title h3 {
        font-size: 24px;
    }

    #light {
        margin-left: -335px;
        margin-top: -370px;
    }
}

/* responsive mobile */
@media screen and (max-width: 666px) {
    #home_intro,
    #covid_statics,
    #about-crn_1,
    #about-crn_2,
    #how2-prevent,
    #idx_symptoms,
    #new-articles {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    #home_intro {
        height: 650px;
    }

    .home_intro-content span {
        color: rgb(165, 131, 228);
        opacity: 1;
    }

    .home_intro-content {
        padding: 0;
    }

    #covid_statics {
        padding-bottom: 2rem;
    }

    .about-crn_content {
        padding: 0;
    }

    #about-crn_2 {
        display: flex;
        max-width: 100%;
        margin: 0;
        padding: 2rem 0;
    }

    .about-crn_2-col {
        font-size: 18px;
        width: 180px;
    }

    #how2-prevent {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .h2p_col-content {
       width: 100%;
       margin-bottom: 4rem;
    }

    .h2p_sub-col-content_1 {
        width: 170px;
    }

    .h2p_sub-col-content_2 {
        width: 170px;
    }

    .h2p_mini-col_1 {
        height: 300px;
    }

    .mini-col_content_1 {
        height: 100%;
    }

    .mini-col_icon {
       width: 170px;
    }

    .h2p_side-content {
        margin: 0.5rem;
        display: block;
    }

    .h2p_side-label {
        text-align: left;
        margin: 0;
    }

    .st_detail {
        margin: 0;
    }

    .st_detail-box {
        margin: 0 0 15px 0;
        padding: 10px 5px;
    }

    .st_dr-advice {
        margin-top: 0;
    }

    .idx_date-post {
        position: relative;
        top: 240px;
        left: 112px;
        padding: 4px 16px;
        font-size: 14px;
    }

    .post-reaction a{
        font-size: 16px;
    }

    .n-a_post-entry {
        margin-top: 2rem;
    }

    .n-a-p_title h3 {
        font-size: 20px;
    }

    #light {
        top: 80%;
        left: 91%;
    }

    #wiacrn {
        width: 360px;
    }

    #boxclose {
        right: 2px;
    }
}