/* start: home intro */
#home_intro {
  display: flex;
  padding: 8rem 0 2rem 0;
  border-bottom-right-radius: 50%;
  background: rgba(111, 66, 193, 0.1);
  overflow: hidden;
}

.home_intro-content {
  text-align: left;
  max-width: 50%;
  padding-left: 9rem;
}

.home_intro-img img {
  max-width: 70%;
  height: auto;
}

.home_intro-content h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: rgb(111, 66, 193);
  margin-bottom:28px;
}

.home_intro-content span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 750;
  color: #6f42c1;
  margin-bottom:14px;
}

.home_intro-content p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(128, 128, 128);
  margin-bottom:54px;
}

.home_intro-content button {
  text-align: center;
  width: 200px;
  height: 50px;
  background-color: #6f42c1;
  border-radius: 30px;
  border: 1px solid white;
  padding:10px 30px 10px 30px;
}

.home_intro-content button p {
  margin-top:5px;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
}
/* End: home intro */
/* Start:about corona part 1 */
#about-crn_1 {
  display: flex;
  justify-content: center;
  margin: 30px 90px 10px 90px; 
  padding: 30px 0px 30px 0px;
}

.img-play-vid img {
  width: 540px;
  height: 360px;
}

.img-play-vid_btn {
  position: relative;
  background-color: rgb(111, 66, 193);
  bottom: 40px;
  left: 360px;
  max-width: 180px;
  font-size: 22px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.img-play-vid_btn a {
  color: #fff;
}

.img-play-vid_btn a:hover {
  opacity: 0.5;
  color: aqua;
}

.about-crn_content {
  text-align: left;
  max-width: 40%;
  padding-left: 4rem;
}

.about-crn_content h3 {
  font-size: 20px;
  font-weight: 700;
  color: #6f42c1;
  margin-bottom: 20px;
}

.about-crn_content p {
  color: #808080;
  font-size: 19px;
  font-weight: 400;
  padding-bottom: 15px;
}

.about-crn_content ul {
  padding-left: 0;
  padding-bottom: 20px;
}

.about-crn_content ul li {
  font-size: 19px;
  color: #808080;
  margin: 5px 0;
}

.abt-crn_icon {
  margin-right: 10px;
  color: #6f42c1;
}

.about-crn_content button {
  width: 150px;
  background-color: #6f42c1;
  border-radius: 30px;
  border: 1px solid white;
}

.about-crn_content button p {
  text-align:center;
  margin-top:10px;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
}

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 2px;
  background: #222222;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 10px 2px;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "x";
}

#fade:hover ~ #boxclose {
  display:none;
}

.test:hover ~ .test2 {
  display: none;
}
/* End: about corona part 1*/
/* ------------------------------------- */
/* Start: about corona part 2 */
#about-crn_2 {
  display: flex;
  justify-content: center;
  max-width: 90%;
  margin: 40px 80px 20px 80px;
}

.about-crn_2-col {
  display: flex;
  padding: 5px 60px;

}

.about-crn_2-logo-col {
  color: #6f42c1;
  margin-right: 20px;
  font-size: 40px;
}

.about-crn_2-content {
  min-width: 100px;
  max-width: 150px;
}

.about-crn_2-content label{
  font-size: 14px;
  font-weight: 700;
  color:rgb(111, 66, 193);
}

.about-crn_2-content p {
  opacity: 0.8;
}
/* End: about corona part 2 */
/* Start: About */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
  line-height: 1.625rem;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.team-container{
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 100px 30px 100px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  color: #6537c2;
  font-weight: 750;
  margin-bottom: 20px;
}

.desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #808080;
  margin-bottom: 20px;
}

.member-list {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 30%;
  padding: 20px;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 35%;
  object-fit: cover;
  margin-bottom: 30px;
}
.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #6537c2;
  font-weight: 700;
  margin-bottom: 10px;
}

.member-desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align:center;
  color: #808080;
  margin-bottom: 20px;
  flex: 1;
}

.connect {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.connect-title {
  font-size: 16px;
  font-weight: 700;
  color: rgb(128, 128, 128);
  line-height:27.2px;
  margin-bottom: 20px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  color: #6537c2;
  font-size: 18px;
  margin: 0 7px;
  border: none;
}
/* End: About */
/* start: Covid statics */
#covid_statics {
  display: block;
  padding: 5rem 0 5rem 0;
  margin: 0 80px;
  
}

.covid_statics-heading {
  font-family: Mulish, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: 800px;
  text-align: center;
  padding-bottom: 25px;
}

.covid_statics-heading h3 {
  color: #6f42c1;
  font-weight: 750;
}

.covid_statics-heading p {
  color: rgb(128, 128, 128);
  font-size: 20px;
}

.covid_statics-number {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 15px;
}

.covid_statics-data {
  display: flex;
  flex-direction: column;
  max-width: 33,33%;
  min-width: 300px;
  padding: 10px 15px;
}

.covid_statics-data strong {
  font-size: 35px;
  padding-top: 20px;
}

.covid_statics-icon {
  font-size: 35px;
  color: #6f42c1;
}

.covid_statics-data span {
  color: rgb(128, 128, 128);
  font-size: 18px;
}
/* End: covid statics */