.container {
  width: 100%;
}
/* Blog Posts */
.blog-posts {
  margin-top: 70px;
  width: 100%;
  height: 370px;
  background-color: #f0ecf9;
  border-bottom-right-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.blog-posts .title1 {
  color: #6e42c166;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1.6px;
  line-height: 20.4px;
  text-align: center;
  text-transform: uppercase;
}

.blog-posts .title2 {
  color: #6f42c1;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin: 0px 0px 16px;
  text-align: center;
}

.blog-posts .desc {
  width: 550px;
  color: #808080;
  line-height: 27.2px;
  margin: 0px 0px 48px;
  text-align: center;
  font-size: 13px;
}

/* News */

.news {
  padding-top: 100px;
}

.news .title {
  font-family: "Poppins", sans-serif;
  color: #6f42c1;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  margin: 0px 0px 24px;
  text-align: center;
}

.news .desc {
  color: #808080;
  line-height: 27.2px;
  margin: 0px 0px 16px;
  text-align: center;
  font-size: 13px;
  width: 500px;
  margin: 0 auto;
}

/* Post */

.posts {
  width: 100%;
  height: fit-content;
  margin: 70px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 30px;
}

.post {
  width: 100%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.post img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.post .time {
  background-color: #6f42c1;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.8px;
  line-height: 20.4px;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  width: 120px;
  margin: 0 auto;
  margin-top: -20px;
  z-index: 10000;
}

.post .info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #80808084;
  margin: 10px 0;
}
.post .author,
.post .comments {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  gap: 0 10px;
}

.post .title {
  color: #6f42c1;
  display: inline;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  margin: 0 auto;
}

.news-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.news-nav-item {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  background-color: #6f42c1;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
}

.news-nav-item.choosed {
  background-color: #f8f5fc;
  color: #6f42c1;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: fit-content;
  padding: 50px 200px;
  margin-top: 50px;
}

.footer .footer-item {
  margin: 0 25px;
}

.footer-item .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  margin: 0px 0px 24px;
  text-align: left;
}

.about .desc {
  color: rgba(0, 0, 0, 0.711);
  line-height: 22.2px;
  margin: 0px 0px 16px;
  text-align: left;
  font-size: 15px;
}

.about .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about .icons i {
  font-size: 18px;
  margin: 10px;
  color: #6f42c1;
}

.footer-item .menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.footer-item .menu .item {
  margin: 10px 0;
}
.footer-item .menu .item a {
  font-size: 16px;
  color: #6f42c1;
  font-weight: 600;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.menu .fa-times,
.header .menu_toggle {
  display: none;
}

.subnav-mobile,
.subnav2-mobile {
  display: none;
}
@media screen and (max-width: 1023px) {
  .container {
    width: 100%;
    padding: 0 100px;
  }
  .header .menu_toggle {
    display: block;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .header {
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
  }

  .header .menu {
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    border: none;
    z-index: 100;
    width: 300px;
    height: 100vh;
    margin-top: 0;
    right: 0;
    top: 0;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    transform: translateX(110%);
    transition: 1s;
    opacity: 0;
    visibility: hidden;
  }
  .header .menu .nav-item {
    color: black;
    margin: 20px 0;
    font-size: 20px;
  }
  .header .menu .fa-times {
    display: block;
    position: fixed;
    font-size: 30px;
    top: 10px;
    right: 20px;
  }
  .header .menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .subnav,
  .subnav2 {
    display: none;
  }

  .subnav-mobile,
  .subnav2-mobile {
    position: relative;
    display: block;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    height: 0;
    gap: unset;
  }

  .subnav-mobile .subnav-item,
  .subnav2-mobile .subnav-item {
    padding: 10px;
    margin: unset;
    font-size: 14px;
  }

  .subnav-mobile.active {
    height: 200px;
    opacity: 1;
    visibility: visible;
  }
  .subnav2-mobile.active {
    height: 200px;
    opacity: 1;
    visibility: visible;
  }

  /* Post */
  .posts {
    width: 100%;
    height: fit-content;
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    margin-top: 50px;
  }
  .footer-item {
    margin: 20px 0 !important;
    margin-top: 25px;
  }
}

@media screen and (max-width: 666px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
    margin-top: 50px;
  }

  .desc {
    width: 100% !important;
  }
}
